{% extends "base.html" %}

{% block title %}Home Page{% endblock %}
{% block content %}
<form action="/add" method="POST">
    <p>What would you like to set a reminder for?</p>
    <input type="text" value="reminder.reminderName" id="rname" name="rname" required>
    <p>When would you like to be reminded?</p>
    <input type="date" value={{reminder.remindAt}} id="d" name="d" required>
    <input type="time" value={{reminder.reminderTime}} id="t" name="t" required>
    <br><br>
    <button type="submit" value="Submit">Submit</button>
</form>
{% endblock %}